@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Ubuntu+Condensed&family=Ubuntu+Mono&family=Ubuntu:ital@1&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: #fff;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../images/c5d3268595c6b1692818a8cd0fb97d23.jpg);
    
}

.container{
    height: 100vh;
    width: 80%;
}

header{
    background-color: rgba(555, 555, 555, 0.09);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 40px;
    border-radius: 2px;
    width: 100%;
    height: 6%;
    z-index: 100;
}

.logo a{
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    text-transform: capitalize;
}

.nav ul{
    list-style-type: none;
}

.nav ul li{
    display: inline;
    margin-left: 30px;
}

.nav ul li a{
    text-transform: capitalize;
    text-decoration: none;
    letter-spacing: 0.5px;
    font-size: 15px;
    font-weight: 400;
    transition: 0.3s;
}

.nav ul li a:hover{
    background: gray;
    padding: 2px 5px;
    border-radius: 5px;
}

section{
    height: 100vh;
    position: relative;
}

.titles{
    min-width: 100%;
    position: relative;
    top: 40%;
    
   
    
}

.butns{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 42%;
}

.titles h1{
    text-align: center;
    font-size: 40px;
    text-transform: capitalize;
    font-weight: 600;
    margin-bottom: 3px;
}

.titles h2{
    text-align: center;
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 10px;
}

button{
    font-size: 16px;
    padding: 5px 20px;
    border-radius: 5px;
    margin: 5px;
    text-transform: capitalize;
    font-weight: 500;
    color: black;
    border: 1px solid white;
    background-color: rgba(237, 228, 228, 0.779);
    cursor: pointer;
    transition: 0.3s;
}

.butns .learn-more:hover{
    background-color: transparent;
    color: #fff;
}
